button {
    background-color: #c77171;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 5px solid #290707;
    cursor: pointer;
    width: 100%;
}

h1 {
    color: #bd2424;
    font-size: 24px;
}

.hi {
    color: #bd2424;
    font-size: 24px;
}